@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                I created this website as an online protfolio to publish works, and research.
            </p>
        </div>
    </section>
}
<h3>Current Projects:</h3>
<!--Start -->
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button> <a class="navbar-brand" href="#">Brand</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="#">Link</a>
                        </li>
                        <li>
                            <a href="#">Link</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">One more separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control">
                        </div> <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">Link</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </nav>
            <div class="jumbotron">
                <h1>
                    Hello, world!
                </h1>
                <p>
                    This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
                </p>
                <p>
                    <a class="btn btn-primary btn-large" href="#">Learn more</a>
                </p>
            </div>
        </div>
    </div>
    </div>
    <!--END-->

    <div class="row clearfix">
        <div class="col-md-4 column">
            <h2 class="" contenteditable="false">AI for chat</h2>
            <p class="" contenteditable="false">The purpose of this website is to produce a learning system for speaking the english language.</p>
            <p class="">
                @Html.ActionLink("Learn More...", "Carly", "Home")
            </p>
        </div>
        <div class="col-md-4 column">
            <h2 class="" contenteditable="false">Capstone Project</h2>
            <p class="" contenteditable="false"><h5 style="color: rgb(51, 51, 51); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">Topic: The Discrete Vertex Guarding Problem in Monotone Polygons.&nbsp;</h5></p>
            <p>
                @Html.ActionLink("Learn More...", "Monotone", "Apps")
            </p>
        </div>
        <div class="col-md-4 column">
            <h2 class="" contenteditable="false">
                Tile Research
            </h2>
            <p class="" contenteditable="false">The goal is to create an HTML based simulator for the aTAM&nbsp;</p>
            <p>
                <a class="btn" href="#">View details »</a>
            </p>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-4 column">
            <h2 class="" contenteditable="false">
                Flipped Classroom
            </h2>
            <p class="" contenteditable="false">Normally, you take your lectures in the classroom, and do your homework at home. Flipped means you do the opposite. Hopefully, I'll be uploading some videos with sample homework</p>
            <p>
                <a href="/Apps/ContraClass">Learn More...</a>
            </p>
        </div>
        <div class="col-md-4 column">
            <h2 class="" contenteditable="false">
                Live Essay
            </h2>
            <p class="" contenteditable="false">The Live essay to designed to adjust content based on a user's preference from a short quiz. This allows users to skip unnecessary information such as agreed upon points.&nbsp;</p>
            <p>
                @Html.ActionLink("Learn More...", "LiveEssay", "Apps")
            </p>
        </div>
        <div class="col-md-4 column">
            <h2 class="" contenteditable="false">
                Blog
            </h2>
            <p class="" contenteditable="false">Here I'll talk about WebDev and other things that interest me.</p>
            <p>
                <a class="btn" href="https://twitter.com/iTotzkeDotCom">View details »</a>
            </p>
        </div>
    </div>
